@charset "utf-8";
/* CSS Document */

.page-content > .row {
    margin-top: 20px !important;
}

.form-control {
    display: initial;
    margin: 8px 0 8px -2px !important;
}

.help-block {
    margin-top: 0px;
    margin-bottom: 0px; 
}

.select a{
    background: #e4e4e4 !important;
    border-left:solid 3px #0782af !important;
    color:#000 !important;
    font-weight:bold !important;
}

.icon-btn{
    padding: 0px !important;
    color: #AAA !important;
    font-size: large;
    margin-left: 7px;
    margin-right: 7px;
}

.icon-btn:hover{
    color: black !important;
    background-color: lavender;
}

.content-box, .content-box-large{
    height: 652px !important;
    border: 0px !important;
}

.content-box-large3{
    margin-bottom: 30px !important;
}

.login-btn {
    display: block;
    padding: 15px;
    background: #5ab3e8;
    color: #FFF !important;
    font-size: 20px;
    line-height: 20px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin-bottom: 10px !important;
    border-radius: 3px;
    background-clip: padding-box;
    text-align: center;
    border:none;
    width:100%;
}

.school-name-txtbx{
    font-size: 15px !important;
    height: 37px !important;
    font-family: 'open sans' !important;
}